.paginate {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}

.paginate a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paginate a.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.paginate a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
